/* || General styles */

/* || Typography */

.wrapper {
  width: 60%;
  height: 75vh;
  display: flex;
  background-color: blue;
  flex-wrap: wrap;
  margin: auto;
  border: 1px solid #000;
  justify-content: space-between;
  padding: 3px;
}

button {
  width: 24%;
  height: 10vh;
  border: 1px solid gray;
}

#display {
  width: 100%;
  height: 15vh;
  background-color: #fff;
  padding: 5px;
  font-size: 48px;
  text-align: right;
}
