@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap);

/* || General styles */

/* || Typography */

.wrapper {
  width: 60%;
  height: 75vh;
  display: flex;
  background-color: blue;
  flex-wrap: wrap;
  margin: auto;
  vertical-align: middle;
}

.cells {
  width: 24%;
  height: 10vh;
  border: 1px solid gray;
}

#display {
  width: 100%;
  height: 15vh;
  background-color: #fff;
}
